/* Custom cursor styles */
.mf-cursor {
    color: transparent;
    border: 2px solid white; /* Thin white border */
    background-color: transparent; /* Transparent background */
    border-radius: 50%; /* Optional: Make the cursor circular */
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    pointer-events: none; /* Ensure the cursor does not block interactions */
    position: absolute; /* Required for positioning */
    transform: translate(-50%, -50%); /* Center the cursor on the pointer */
    transition: transform 0.15s ease; /* Smooth transition */
    z-index: 9999; /* Ensure the cursor is on top */
  }
  
  div{
    cursor: none;
  }
  
  a {
    cursor: none !important;
  }
  
  button{
    cursor: none !important;
  }
  
  a {
    cursor: none !important;
  }
  
  ul{
    cursor: none !important;
  }
  
  li{
    cursor: none !important;
  }